.mr-3 {
    width: 48px;
    height: 48px;
}

body {
    background-image: url(../img/email-pattern/email-pattern.png);
    background-repeat: repeat;
}

.topic-text {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.badge-bbs {
    background-color: #007bff;
}

.list-group-item.bbs-active {
    z-index: 2;
    color: #fff;
    background-color: #449ef3;
    border-color: #449ef3;
}

.menu-edit {
    font-size: 13px;
    color: #999999;
}

.top-edge {
    margin-top: 80px;
}

.comment-margin {
    margin: 15px 0;
}
.btn-light:hover {
    background-color: #449EF3;
}

.badge-bbs-light {
    background-color: #449ef3;
}

.btn-light {
    cursor: pointer;
}