<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home - Springboot BBS</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bbs.css">
    <!--
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    -->
</head>

<script type="application/javascript">
    window.onload = function () {
        var closable = window.localStorage.getItem("closable");
        if (closable == "true") {
            window.close();
            window.localStorage.removeItem("closable");
        }
    }
</script>

<body>
<div th:insert="~{navbar :: nav}"></div>

<div class="container mx-auto"
     style="margin-top: 70px; margin-bottom: 30px; background-color: white; padding-top: 15px; padding-bottom: 15px">

    <div class="row">
        <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
            <h2><span class="fa fa-align-left fa-fw" aria-hidden="true"></span> Discover</h2>
            <hr>
            <div class="media" th:each="question : ${pagination.questions}">
                <img class="mr-3 rounded-circle"
                     th:src="${question.user.avatarUrl}">
                <div class="media-body">
                    <h4 class="mt-0">
                        <a th:href="@{'/question/' + ${question.id}}" th:text="${question.title}"></a>
                    </h4>
                    <span>Created by <span th:text="${question.user.name}"></span></span>
                    <span class="topic-text"> • <span th:text="${question.commentCount}"></span> Replies • <span
                            th:text="${question.viewCount}"></span> Views • Post Date <span
                            th:text="${#dates.format(question.gmtCreate,'dd MMMM yyyy')}"></span></span>
                    <hr>
                </div>
            </div>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:if="${pagination.showFirstPage}">
                        <a class="page-link" href="/?page=1" aria-label="Previous">
                            <span aria-hidden="true"><i class="fa fa-angle-double-left"></i></span>
                        </a>
                    </li>
                    <li class="page-item" th:if="${pagination.showPrevious}">
                        <a class="page-link" th:href="@{/(page=${pagination.page - 1})}" aria-label="Previous">
                            <span aria-hidden="true"><i class="fa fa-angle-left"></i></span>
                        </a>
                    </li>
                    <li class="page-item" th:each="page: ${pagination.pages}"
                        th:class="${pagination.page == page}? 'page-item active' : 'page-item'">
                        <a class="page-link" th:href="@{/(page=${page})}" th:text="${page}"></a>
                    </li>
                    <li class="page-item" th:if="${pagination.showNext}">
                        <a class="page-link" th:href="@{/(page=${pagination.page + 1})}" aria-label="Next">
                            <span aria-hidden="true"><span class="fa fa-angle-right"></span></span>
                        </a>
                    </li>
                    <li class="page-item" th:if="${pagination.showEndPage}">
                        <a class="page-link" th:href="@{/(page=${pagination.totalPage})}" aria-label="Next">
                            <span aria-hidden="true"><span class="fa fa-angle-double-right"></span></span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
            <h2><i class="fa fa-fire-alt fa-fw"></i> Hot</h2>
            <hr>
        </div>
    </div>
</div>

<!--
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
-->

<script src="jquery/dist/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script defer src="js/all.js"></script>

</body>
</html>