<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${sectionName}"> - Springboot BBS</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bbs.css">
    <!--
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    -->
    <script src="https://kit.fontawesome.com/0225e9d401.js"></script>
</head>
<!--
<body background="img/email-pattern/email-pattern.png" style="background-repeat: repeat">
-->
<body>
<div th:insert="~{navbar :: nav}"></div>

<div class="container mx-auto"
     style="margin-top: 70px; margin-bottom: 30px; background-color: white; padding-top: 15px; padding-bottom: 15px">

    <div class="row">
        <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
            <h2><i class="fa fa-portrait"></i> <span th:text="${sectionName}"></span></h2>
            <hr>
            <div class="alert alert-info text-center" th:if="${paginationDTO.questions.isEmpty()}">You do not have any post yet.</div>
            <div class="media" th:each="question : ${paginationDTO.questions}">
                <img class="mr-3 rounded-circle"
                     th:src="${question.user.avatarUrl}">
                <div class="media-body">
                    <h5 class="mt-0">
                        <a th:href="@{'/question/' + ${question.id}}" th:text="${question.title}"></a>
                    </h5>
                    <span class="topic-text"> • <span th:text="${question.commentCount}"></span> Replies • <span
                            th:text="${question.viewCount}"></span> Views • Post Date <span
                            th:text="${#dates.format(question.gmtCreate,'dd MMMM yyyy')}"></span></span>
                    <hr>
                </div>
            </div>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:if="${paginationDTO.showFirstPage}">
                        <a class="page-link" th:href="@{'/profile/'+${section}(page=${1})}" aria-label="Previous">
                            <span aria-hidden="true"><i class="fa fa-angle-double-left"></i></span>
                        </a>
                    </li>
                    <li class="page-item" th:if="${paginationDTO.showPrevious}">
                        <a class="page-link" th:href="@{'/profile/'+${section}(page=${paginationDTO.page - 1})}" aria-label="Previous">
                            <span aria-hidden="true"><i class="fa fa-angle-left"></i></span>
                        </a>
                    </li>
                    <li class="page-item" th:each="page: ${paginationDTO.pages}"
                        th:class="${paginationDTO.page == page}? 'page-item active' : 'page-item'">
                        <a class="page-link" th:href="@{'/profile/'+${section}(page=${page})}" th:text="${page}"></a>
                    </li>
                    <li class="page-item" th:if="${paginationDTO.showNext}">
                        <a class="page-link" th:href="@{'/profile/'+${section}(page=${paginationDTO.page + 1})}" aria-label="Next">
                            <span aria-hidden="true"><span class="fa fa-angle-right"></span></span>
                        </a>
                    </li>
                    <li class="page-item" th:if="${paginationDTO.showEndPage}">
                        <a class="page-link" th:href="@{'/profile/'+${section}(page=${paginationDTO.totalPage})}" aria-label="Next">
                            <span aria-hidden="true"><span class="fa fa-angle-double-right"></span></span>
                        </a>
                    </li>
                </ul>
            </nav>

        </div>
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
            <div class="list-group">
                <a href="/profile/questions" class="list-group-item list-group-item-action"
                   th:class="${section == 'questions'}? 'list-group-item list-group-item-action bbs-active':'list-group-item list-group-item-action'">
                    My Posts<span class="badge badge-info badge-pill badge-bbs float-right mt-1">6</span></a>
                <a href="/profile/replies" class="list-group-item list-group-item-action"
                   th:class="${section == 'replies'}? 'list-group-item list-group-item-action bbs-active':'list-group-item list-group-item-action'">Recent
                    Replies<span class="badge badge-info badge-pill badge-bbs float-right my-1">16</span></a>
                <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
                <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
                <a href="#" class="list-group-item list-group-item-action" tabindex="-1" aria-disabled="true">Vestibulum
                    at eros</a>
            </div>
        </div>
    </div>
</div>

<!--
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
-->

<script src="/jquery/dist/jquery.slim.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script defer src="/js/all.js"></script>

</body>
</html>