<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Post - Springboot BBS</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bbs.css">
</head>

<body>
<div th:insert="~{navbar :: nav}"></div>


<div class="container mx-auto"
     style="margin-top: 70px; margin-bottom: 30px; background-color: white; padding-top: 15px; padding-bottom: 15px">

    <div class="row">
        <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
            <h2><span class="fa fa-plus-square fa-fw" aria-hidden="true"></span> Post</h2>
            <hr>
            <form action="/publish" method="post">
                <input type="hidden" name="id" th:value="${id}">
                <div class="form-group">
                    <label for="title">Question Title(Less than 30 words):</label>
                    <input type="text" class="form-control" id="title" name="title" th:value="${title}"
                           aria-describedby="textHelp"
                           placeholder="Question Title...">
                    <small id="titleHelp" class="form-text text-muted">Please state your question in a short and clean
                        style.</small>
                </div>
                <div class="form-group">
                    <label for="Description">Question Detail(Refer to instruction on the right side):</label>
                    <textarea class="form-control" th:text="${description}" name="description" id="description"
                              cols="30" rows="10"
                              placeholder="Question Detail..."></textarea>
                </div>
                <div class="form-group">
                    <label for="tag">Add tags:</label>
                    <input type="text" class="form-control" th:value="${tag}" id="tag" name="tag"
                           placeholder="Input tags, separate different tags with a comma...">
                </div>

                <div class="alert alert-danger justify-content-center" th:if="${error != null}"
                     th:text="${error}"></div>

                <button type="submit" class="btn btn-success" style="float: right">Post</button>
            </form>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
            <h2><i class="fa fa-question fa-fw"></i> Instructions</h2>
            <hr>
            <ul>
                <li>Question Title: Please describe your question in a short and clear style. Use no more than 30
                    words.
                </li>
                <li>Question Detail: Please add details to your question, keep it straight and clear and provide
                    relevant material if needed.
                </li>
                <li>Add tags: Add one or more tags. Separate different tags with comma. Each tag can have a max length
                    of 10 words.
                </li>
            </ul>
        </div>
    </div>
</div>

<!--
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
-->

<script src="/jquery/dist/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script defer src="/js/all.js"></script>

</body>
</html>