<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Publish - Springboot BBS</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/0225e9d401.js"></script>
</head>

<body background="img/email-pattern/email-pattern.png" style="background-repeat: repeat">
<nav class="navbar navbar-expand-lg navbar-light sticky-top" style="background-color: #449ef3">
    <a class="navbar-brand" href="#" style="color: white"><i class="fa fa-rocket fa-fw"></i> Springboot BBS Demo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="/" style="color: white"><i class="fa fa-home fa-fw"></i> Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" style="color: white"><i class="fa fa-align-left fa-fw"></i> Subjects</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search">
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
        </form>
        <ul class="navbar-nav mr-5 mt-2 mt-lg-0">
            <li class="nav-item" th:if="${session.user != null}">
                <a class="nav-link" style="color: #0de7ff" href="/publish"><i class="fa fa-plus-square"></i> Publish</a>
            </li>
            <li class="nav-item dropdown" th:if="${session.user != null}">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" style="color: white"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="${session.user.getName()}"></a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#"><i class="fa fa-home -fa-fw"></i>&nbsp;&nbsp;Message Center</a>
                    <a class="dropdown-item" href="#"><i class="fa fa-user fa-fw"></i>&nbsp;&nbsp;Personal Profile</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#"><i class="fa fa-sign-out fa-fw"></i>&nbsp;&nbsp;Sign Out</a>
                </div>
            </li>
            <li class="nav-item" th:if="${session.user == null}">
                <a class="nav-link" style="color: white" href="https://github.com/login/oauth/authorize?client_id=30db3d189a78ee7c7558&redirect_uri=http://localhost:8887/callback&scope=user&state=1">
                    登录<span class="sr-only">(current)</span>
                </a>
            </li>
        </ul>
    </div>
</nav>

<!--
<div class="container-fluid" style="margin: 30px; background-color: white; padding-top: 15px; padding-bottom: 15px">
-->
<div class="container mx-auto" style="margin-top: 30px; margin-bottom: 30px; background-color: white; padding-top: 15px; padding-bottom: 15px">

    <div class="row">
        <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
            <h2><span class="fa fa-plus-square fa-fw" aria-hidden="true"></span> Publish</h2>
            <hr>

            <form action="/publish" method="post">
                <div class="form-group">
                    <label for="title">Question Title(Less than 30 words):</label>
                    <input type="text" class="form-control" id="title" name="title" aria-describedby="textHelp"
                           placeholder="Question Title...">
                    <small id="titleHelp" class="form-text text-muted">Please state your question in a short and clean
                        style.</small>
                </div>
                <div class="form-group">
                    <label for="title">Question Detail(Refer to instruction on the right side):</label>
                    <textarea class="form-control" name="description" id="description" cols="30" rows="10"
                              placeholder="Question Detail..."></textarea>
                </div>
                <div class="form-group">
                    <label for="title">Add tags:</label>
                    <input type="text" class="form-control" id="tag" name="tag" placeholder="Input tags, separate different tags with a comma...">
                </div>

                <div class="alert alert-danger justify-content-center" th:if="${error != null}" th:text="${error}"></div>

                <button type="submit" class="btn btn-success" style="float: right">Publish</button>
            </form>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
            <h2><i class="fa fa-question fa-fw"></i> Instructions</h2>
            <hr>
            <ul>
                <li>Question Title: Please describe your question in a short and clear style. Use no more than 30 words.</li>
                <li>Question Detail: Please add details to your question, keep it straight and clear and provide relevant material if needed.</li>
                <li>Add tags: Add one or more tags. Separate different tags with comma. Each tag can have a max length of 10 words.</li>
            </ul>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
</html>